on:
  push:
    tags:
      - '*'

jobs:
  create_release:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19
      - name: Build artifacts
        run: |
          for cfgstr in "darwin amd64" "darwin arm64" "linux amd64" "windows amd64"; do 
            cfg=( $cfgstr )
            export GOOS=${cfg[0]}
            export GOARCH=${cfg[1]}
            go build -o mtb-$GOOS-$GOARCH
          done
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            mtb-darwin-amd64
            mtb-darwin-arm64
            mtb-linux-amd64
            mtb-windows-amd64